body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.title-container,
.video-container iframe,
.claim-container {
    border-radius: 24px;
    background: linear-gradient(145deg, #f7f7f7, #dedede);
    box-shadow:
                22.6px 20.4px 25.1px -49px rgba(0, 0, 0, 0.027),
                41.2px 37.2px 27.3px -49px rgba(0, 0, 0, 0.069),
                55.2px 49.9px 26.7px -49px rgba(0, 0, 0, 0.115),
                63.2px 57.1px 25.9px -49px rgba(0, 0, 0, 0.148),
                62px 56px 27px -49px rgba(0, 0, 0, 0.12);
}

.title-container {
    height: 5vh;
    margin: 0 3em;
    margin-right: 4em;
    padding: 1em;
}

.title {
    margin: 0;
    text-align: center;
}

.authors {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.authors p {
    margin: 0;
}

.video-container {
    height: 25vh;
    padding: 0 3em;
    margin: 1em 1em 2em 0;
}

.sources-container {
    padding: 0 3em;
    height: 60vh;
    overflow-y: scroll;
    border-radius: 60px;
}

.claim-container {
    margin-bottom: 2em;
    padding: 1em;
}

.sources-btn {
    margin-bottom: 1em;
}

.commentary,
.source,
.link,
.quote {
    margin: 0;
}

.claim {
    font-weight: 400;
}

.commentary {
    /* background: rgb(255, 180, 180); */
    padding: 0.5em 0;
}

.source {
    border: 3px solid lightyellow;
    /* position: relative;
    top: 27px; */
    width: 50%;
    margin-left: auto;
    text-align: right;
    padding: 0 1em;
}

.link {
    border: 3px solid lightgreen;
    /* width: 50%;
    position: relative;
    left: 50%;
    top: 9px; */
    width: 25%;
    margin-left: auto;
    text-align: right;
    padding: 0 1em;
}

.quote {
    background: white;
    border-radius: 6px;
    /* position: relative;
    bottom: 27px; */
    text-align: center;
    margin: auto;
    padding: 1em;
}

.error {
    background: red;
    color: yellow;
}

.quotation-marks {
    font-size: 20px;
    font-weight: 400;
}

.quote-img {
    width: 100%;
}